


@media only screen and (max-width : 1060px)
{

}




@media only screen and (max-width : 992px)
{}
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 653px)
{
  .select {
    margin-top: 20px;
  }
  
  .blockRight{
    width: 400px;
  }
}
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
{
  .select {
    margin-left: 30px;
  }
  .blockLeft {
    width: 300px;
    margin-left: 30px;
  }

  .blockRight{
    width: 300px;
    margin-left: 30px;
  }
}
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
{}
	/**/


