body {
  background-color: #2c2c2c;
}

.wrapper {
  text-align: center;
  margin: 0 auto;
 overflow: scroll;
  background-color:black;
  max-width: 1300px;
  height: 100%;
  color:white;
}

.blockLeft{
  margin-top: 30px;
  border-radius: 20px;
  width: 400px;
  height: 400px;
  background-color:#636363;
}

.blockRight {
  margin-top: 30px;
  border-radius: 20px;
  width: 600px;
  height: 400px;
  background-color:#636363;
}

span {
  padding-left: 100px;
  padding-top: 50px;
}

.buttons {
  &:hover {
    transform: translateY(-3%);
    transition: transform 0.3s ease-in-out  ;
  }
}

.blockItems{
  max-width: 1250px;
  background-color: #636363;
  height: 500px;
  margin: 0 auto;
 margin-top: 10px;
  border-radius: 20px;
}

.daysItems{
  width: 110px;
  margin: 0 auto;
  background-color:#212121;
  border-radius: 20px;
  
  margin: 5px;
 
  &:hover {
    border: 1px solid white;
    transform: translateY(-2%);
    transition: transform 0.3s ease-in-out  ;
  }
}

select {
  width: 200px;
}