

.wrapper {
  text-align: center;
  margin: 0 auto;
 overflow: scroll;
 background: rgb(238,174,202);
 background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  height: 100%;
  color:white;
}

.blockLeft{
  border-radius: 20px;
}

.blockRight {
  border-radius: 20px;
}



.buttons {
  &:hover {
    transform: translateY(-3%);
    transition: transform 0.3s ease-in-out  ;
  }
}

.blockItems{
 margin-top: 30px;
  border-radius: 20px;
}

.daysItems{
  width: 112px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
 
  &:hover {
    
    transform: translateY(-2%);
    transition: transform 0.3s ease-in-out  ;
  }
}

.select {
  width: 300px;
  
}

span{
  padding-left: 20px;

}
